#about-bg {
    background: url('/images/about us, front page.jpg') no-repeat center fixed;
    background-size: cover;
}

#about-us .about-page-title {
    margin-top: 30px;

}


* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#about-us img{
    margin-top: 25px;
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 4px;
    width: 450px;
    height: 325px;
}

#about-front-img{
    width: 100%;
    height: auto;
}


.text-center {
    text-align: center;
}

.about-page-text-top-shadow {
    padding-top: 20px;
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.mt-25 {
    margin-top: 25px;
}


.about-page-text-custom1 {
    font-size: 25px;
}

.about-page-text-custom5 {
    color: red;
    margin-top: 15px;
    font-family: 'Monda', sans-serif;
    font-size: 20px!important;
}
.about-page-text-custom6 {
    color: red;
    margin-top: 10px;
    font-family: 'Monda', sans-serif;
    font-size: 15px!important;
    text-align: center;
}

.font-14 {
    font-size: 14px;
}



